tmp/*
th-pg-config=
log/*
Gemfile.lock
.project
*.png
~
*~
/.idea/.generators
/.idea/.name
/.idea/.rakeTasks
/.idea/encodings.xml
/.idea/gpc.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
