<div id="reply_<%= @comment.id %>" class="reply delete">
	<div class="content">

	<p>are you sure you want to permanently destroy this comment?</p>

	<%= form_for(:comment, :url => {:action=>'destroy', :id=>@comment.id, :topic_id=>@comment.topic_id}, :html => {:class=>"ajax_request", :rel=>"content"}) do |f| %>

<!--	<%= link_to "<< back", :back, :class=>"ajax_request", :rel=>"content" %>-->
	<div class="submit">
		<%= submit_tag("Delete")%>
	</div>
	<% end %>
	</div>
	
	<div class="f"><div><div> </div></div></div>
</div>
