<div id="reply_<%= @comment.id %>" class="reply delete">
	<div class="content">

	<p>are you sure you want to permanently destroy this comment?</p>

	<%= form_for(:comment, :url => {:action=>'destroy', :id=>@comment.id, :topic_id=>@comment.topic_id}, :html => {:class=>"ajax_request no_history", :rel=>"content"}) do |f| %>

<!--	<%= link_to "<< back", :back, :class=>"ajax_request", :rel=>"content" %>-->
	<div class="submit">
		<%= submit_tag("Delete")%>
	</div>
	<% end %>
	</div>
	
	<div class="f"><div><div> </div></div></div>
</div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
	  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
	  _gaq.push(['_setAccount', 'UA-31150857-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>