<table summary="Topic from fields">
	<tr>
		<th>Title</th>
		<td><%= f.text_field(:subject) %></td>
	</tr>
	<tr>
		<th>URL</th>
		<td><%= f.url_field(:url) %></td>
	</tr>	
	<tr>
		<td colspan="2" align="middle"><span>-- OR --</span></td>
	</tr>
	<tr>
		<th>Text</th>
		<td><%= f.text_area(:text)%></td>
	</tr>	
</table>
