<table summary="Topic from fields">
	<tr>
		<th>title</th>
		<td><%= f.text_field(:subject) %></td>
	</tr>
	<tr>
		<td><br></td>
	</tr>
	<tr>
		<th>url </th>
		<td><%= f.url_field(:url) %></td>
	</tr>	
</table>
<b>--- or ---</b>
<table>
	<tr>
		<th>text </th>
		<td><%= f.text_area(:text)%></td>
	</tr>	
</table>
