<% @page_title = "Live Gold Chart & News" %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<font size="14" face="myFont">SH1NY CHART&nbsp;</font>
<font size="3.0" >The best interactive Gold Chart on the Web! Click for Forum & News below</font>
<!--div class="fb-like" data-href="http://www.sh1ny.com" data-send="false" data-width="450" data-show-faces="false" data-font="lucida grande"></div><br-->
<style="text-align: right; background: #C4AD29;"></style>
<br>
<SCRIPT language="JavaScript">
<!--
if ((screen.width>1024) && (screen.height>768)) 
{ 
	if ((screen.width<=1600) && (screen.height<1200))
	{	
document.write('<iframe src="http://www.sh1ny.com:3001/alive5/Alive6_MedRes/" id="chartframe" name="chartframe" border=\'7\' frameborder=\'7\' width=\'820\' class="iframe" scrolling="no" frameborder="0" lwft="0" height="640" bordercolor="black"></iframe>');
	}
}
if ((screen.width<=1024) && (screen.height<=768))
{
document.write('<iframe src="http://www.sh1ny.com:3001/alive5/Alive6_LowRes/" id="chartframe" name="chartframe" border=\'7\' frameborder=\'7\' width=\'650\' class="iframe" scrolling="no" frameborder="0" lwft="0" height="510" bordercolor="black"></iframe>');
}
if ((screen.width>=1600) && (screen.height>=1200))
{
document.write('<iframe src="http://www.sh1ny.com:3001/alive5/Alive6_HighRes/" id="chartframe" name="chartframe" border=\'7\' frameborder=\'7\' width=\'980\' class="iframe" scrolling="no" frameborder="0" lwft="0" height="780" bordercolor="black"></iframe>');
}
//-->
</SCRIPT>
<br><br>
<font size = 2>
<%= link_to("news & forum",:action=>'list') %><br>
<%= link_to("videos",:action=>'videos') %><br>
<%= link_to("contact us", :action=>'contact_c')%><br><br>

<br><br>
<script type="text/javascript" src="http://jj.revolvermaps.com/r.js"></script><script type="text/javascript">rm_f1st('0','220','true','false','000000','9yloocdij8w','true','ff0000');</script><noscript><applet codebase="http://rj.revolvermaps.com/j" code="core.RE" width="220" height="220" archive="g.jar"><param name="cabbase" value="g.cab" /><param name="r" value="true" /><param name="n" value="false" /><param name="i" value="9yloocdij8w" /><param name="m" value="0" /><param name="s" value="220" /><param name="c" value="ff0000" /><param name="v" value="true" /><param name="b" value="000000" /><param name="rfc" value="true" /></applet></noscript>
