<div id="dialog_content" class="update">
	<div class="header">
		<p>Add a thread</p>
	</div>


	<% if !params[:notice].blank? %>
		<div class="notice">
			<%= params[:notice] %>
		</div>
	<% end %>

	<div class="add_thread">
		
	
		<%=form_for(:topic, :url=>{:action => 'update', :id=>@topic.id}, :html=>{:class => 'dialog', :rel=>'dialog_content'}) do |f| %>

			<%= render(:partial => 'form', :locals =>{:f=>f}) %><br>
			<div class="form-buttons">
				<%= submit_tag("update")%>
				<a class="dialog_close">close</a>
			</div>
		
		<% end %>
	
	</div>
</div>
