<div id="content" class="container guidelnes">
<div class="box white">
	<div class="top">
		<div class="top"><div class="top">&nbsp;</div></div>
	</div>
	<div class="middle">
		<div class="middle"><div class="middle">
			<div class="content">
				
<div class="guidelines">
	<h4>Guidelines:</h4>

	1. goldpricecafe.com is available for the free exchange of ideas and discussion by users of all
	nationalities, religions, and ethnicities.<br>
	2. Behavior on goldpricecafe.com should be conducted in a civil fashion, to allow all users to engage
	in challenging and creative discussions.<br>
	3. goldpricecafe.com is committed to providing an environment free of censorship for all users, as
	long as they abide by these simple rules.<br>

	<h4>General Prohibitions:</h4>

	1. Derogatory comments of a racial, religious, or sexual nature.<br>
	2. Media or links which contain pornography or nudity.<br>
	3. Spamming or the repeated posting of similar content.<br>
	4. Off-topic posting. Please post in the appropriate forum.<br>
	5. Copyright violations or theft of intellectual property.<br>
	6. Fraud or attempts to defraud others.<br>
	7. Use of the site to advertise or sell products/services without prior approval by the
	Administrators. A site sponsorship program and trading area are under development.<br>
	8. Threats of violence or advocating illegal activities. This includes threats against life, harm to
	government officials, or the violent overthrow of government. This includes links with this type
	of content.<br>
	9. Posting another person’s personal contact information, such as home addresses, phone
	numbers, etc. This is not a prohibition of posting publicly available work information, such as the
	mailing address or office location of an elected official.<br><br>


	<h5>Users that violate goldpricecafe.com rules may have their posts edited, accounts temporarily locked, or
	accounts deleted depending on the severity and frequency of violation. Administrators and Moderators
	may take these corrective actions at their discretion.<br><br><h5>
</div>

			</div>
		</div></div>
	</div>
	<div class="bottom"><div class="bottom"><div class="bottom">&nbsp;</div></div></div>
</div>
</div>



