<font size="14" face="myFont">sh<font color="red">1</font>ny<font color="#DEDEDE"> videos </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
<div style="float:right" id="hello_world" class='listalista'>		
<%= link_to("chart",:action=>'chart') %>&nbsp;&nbsp;
<%= link_to("news",:action=>'list') %>&nbsp;&nbsp;
<%= link_to("videos",:action=>'videos') %>&nbsp;&nbsp;
<%= link_to("contact", :action=>'contact_v')%>
&nbsp;&nbsp;&nbsp;
</div>
<br>
<hr>
</div>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>tabela YT</title>
<style type="text/css">
.tabela_yt {
	background-color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: dotted;
	border-bottom-color: gray;
	border-bottom-width: 1px;
	
	text-align: left;
	vertical-align: top;
	margin-left: 12px;
	padding-top: 34px;
	padding-bottom: 34px;
	
	
}

</style></head>

<body align="center">
<div class="tabela_yt" align="center">Peter Schiff explains why Barack Obama is wrong on the Economy:<br><br><iframe width="480" height="320" src="http://www.youtube.com/embed/iif7Porm6l0" frameborder="0" allowfullscreen></iframe></div>
<div class="tabela_yt" align="center">Max Keiser Report no. 278 part 1:<br><br><iframe width="480" height="320" src="http://www.youtube.com/embed/N3EzfNQbBRY" frameborder="0" allowfullscreen></iframe></div>
<div class="tabela_yt" align="center">Max Keiser Report no. 278 part 2:<br><br><iframe width="480" height="320" src="http://www.youtube.com/embed/oqTPpBVMb_I" frameborder="0" allowfullscreen></iframe></div>
<div class="tabela_yt" align="center">Marc Faber claims this is another Great Depression part 1:<br><br><iframe width="480" height="320" src="http://www.youtube.com/embed/-aQMiq7QpOY" frameborder="0" allowfullscreen></iframe></div>
<div class="tabela_yt" align="center">Marc Faber claims this is another Great Depression part 2:<br><br><iframe width="480" height="320" src="http://www.youtube.com/embed/stbSg7Ufl5k" frameborder="0" allowfullscreen></iframe></div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
