html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0
}


body {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 12px;
	background: url('bg.png');
	height: auto;	
	min-height: 100%;
	position: relative;
}

.wrap iframe#alive {
	background: none;
	#background: url('bg.png');
	padding: 0;
	border: none 0px;
	width:960px;
	height: 756px; 
	margin: 0 5px;
}

.clear {
	clear: both;
}

#content .top, #content .bottom {
	font-size: 1px;
}

h4 {
	margin-top: 0;
	padding-top: 6px;
}

h5 {
	margin-bottom: 0;
	padding-bottom: 8px;
}

.ab {
	position: relative;
	width: 100%;
	height: 130px;
}

.ab .bg {
	background: #000000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
	width: 100%;
	height: 100%;
}

.ab .abc {
/*border: 1px solid red;*/
	position: absolute;
	top: 20px;
	left: 50%;
	margin: 0;
	margin-left: -480px;
	width: 960px;
	height: 90px;
}

.ab2 {
	position: relative;
	width: 960px;
	height: 130px;
	margin: 10px auto;
}

.ab2 .bg {
	background: #000000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

.ab2 .abc {
/*border: 1px solid red;*/
	position: absolute;
	top: 20px;
	left: 50%;
	margin: 0;
	margin-left: -460px;
	width: 920px;
	height: 90px;
}


.guidelines {
	font-size: 14px;
}

.wrap {
	width: 970px;
	margin: 0 auto;
	padding: 0 0 152px 0;
}

div.head {
	padding: 10px 0 20px 0;
}

div.head div.logo {
	float: left;
	width: 262px;
	height: 88px;
	background: url(logo.gif) no-repeat;
}

div.head div.info {
	font-size: 12px;
	float: right;
	color: #afe0d3;
	height: 12px;
	margin: 6px 4px 0 0;
}

div.head div.user {
	float: right;
}

div.head div.info span.username {
	color: #ffd902;
}

div.head div.info span.points {
	border-left: 1px solid #469782;
	float: right;
	margin: 0 0 0 8px;
	padding: 0 0 0 8px;
	color: #afe0d3;
	font-size: inherit;
	width: auto;
}

div.head div.navigation {
	clear: right;
	float: right;
	width: 70%;
	margin: 18px 0 0 0;
}

div.head div.navigation a {
	line-height: 32px;
	float: right;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	font-size: 13px;
	margin: 0 2px 0 16px;
}

div.head div.navigation a:hover {
}

div.foot {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 142px;
	background: url(foot_bg.png);
}

div.foot div.in {
	width: 970px;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	background: url(footer_gold.png) 50% 46px no-repeat;
}

div.foot div.logo {
	float: left;
	width: 239px;
	height: 100%;
	background: url(footer_logo.png) 0 40% no-repeat;
}

div.foot div.navigation {
	clear: right;
	float: right;
	margin: 68px 0 0 0;
}

div.foot div.navigation a {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #0a7d63;
	font-size: 12px;
	margin: 0 2px 0 16px;
}

div.foot div.navigation a:hover {
	color: #86d5c3;
}

.box.white {
	width: 970px;
}

.box.white  .top {
	height: 13px;
	overflow: hidden;
	background: url(box_white-top-left.png) 0% 0% no-repeat;
}

.box.white  .top  .top {
	background: url(box_white-top-right.png) 100% 0% no-repeat;
}

.box.white  .top  .top  .top {
	margin: 0 14px;
	background: url(box_white-top.png) 0% 0% repeat-x;
}

.box.white .middle {
	margin: 0;
	height-min: 119px;
	background: url(box-white-middle-left.png) 0% 0% repeat-y;
}

.box.white .middle .middle {
	background: url(box-white-middle-right.png) 100% 0% repeat-y;
}

.box.white .middle  .middle .middle {
	margin: 0 6px;
	background: #ffffff;
}

.box .content {
	margin: 0 10px;
}

.box.white  .bottom {
	height: 13px;
	overflow: hidden;
	background: url(box_white-bottom-left.png) 0% 100% no-repeat;
}

.box.white  .bottom  .bottom {
	background: url(box_white-bottom-right.png) 100% 100% no-repeat;
}

.box.white  .bottom  .bottom  .bottom {
	margin: 0 14px;
	background: url(box_white-bottom.png) 0% 100% repeat-x;
}

table.topics {
	width: 100%;
	border-collapse:collapse;
}

table.topics td {
	padding: 10px 0;
	border-bottom: 1px solid #efece4;
}

table.topics td.no {
	border-right: 1px solid #efece4;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	color: #4c4a32;
}

table.topics td.vote {
	border-right: 1px solid #efece4;
	width: 46px;
	text-align: center;
	vertical-align: middle;
	color: #a09d8c;
	font-family: arial;
	font-size: 10px;
}

table.topics td.topic {
	text-align: left;
	vertical-align: middle;
	height:	34px;
	width: auto;
	padding-left: 16px;
}

.topic span.topic,
.topic span a {
	font-size: 14px;
	color: #494a3a;
	font-weight: bold;
	text-decoration: none;
}

.topic span a:hover {
	color: #007a5d;
}

table.topics td.comments_count {
	width: 80px;
	text-align: right;
	vertical-align: middle;
	color: #9f9e8e;
}

table.topics td.discuss {
	width: 100px;
	text-align: right;
	vertical-align: middle;
}

span.no {
	font-family: arial;
	font-size: 11px;
}

span.topic {
	display: block;
}

span.points {
	display: block;
	float: left;
	width: 62px;
	color: #a09d90;
	font-family: arial;
	font-size: 12px;
}

span.date {
	display: block;
	float: left;
	width: 100px;
	color: #a09d90;
	font-family: arial;
	font-size: 12px;
}

span.by {
	display: block;
	float: left;
/*	width: 76px;*/
	color: #a09d90;
	font-family: arial;
	font-size: 12px;
}


span.vote {
	display: block;
	width: 16px;
	height: 16px;
	background: url(button/vote.png) 0px -1px no-repeat;
	overflow: hidden;
	margin: 0 auto;
}

span.vote:hover {
	background-position: 0px -19px;
}

span.vote a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -3000px;
}

span.discuss {
	display: block;
	width: 97px;
	height: 25px;
	background: url(button/discuss.png) 0px -1px no-repeat;
	overflow: hidden;
	margin: 0 auto;
}

span.discuss:hover {
	background-position: 0px -28px;
}

span.discuss a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: 3000px;
}

div.header {
	width: 100%;
	height: 60px;
	background: url(header.png) 0% 100% repeat-x;
}

div.footer {
	width: 100%;
	height: 60px;
	background: url(footer.png) 0% 0% repeat-x;
}


div.rightBox {
	width: 162px;
	height: 60px;
	float: right;
	background-position: 0 0;
	background-repeat: no-repeat;
}

div.header div.rightBox {
	background-image: url(header_right.png);
}

div.footer div.rightBox {
	background-image: url(footer_right.png);
}


div.rightBox div.in {
	height: 60px;
	width: auto;
	margin: 0;
	background-position: 100% -124px;
	background-repeat: no-repeat;
}

div.header div.rightBox div.in {
	background-image: url(header_right.png);
}

div.footer div.rightBox div.in {
	background-image: url(footer_right.png);
}


div.rightBox div.in div.in {
	margin: 0 4px;
	height: 60px;
	width: auto;
	background-position: 100% -62px;
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
}

div.header div.rightBox div.in div.in {
	background-image: url(header_right.png);
}

div.footer div.rightBox div.in div.in {
	background-image: url(footer_right.png);
}


span.add_thread {
	display: block;
	padding-top: 18px;
}

a.add_thread {
	display: block;
	width: 132px;
	height: 28px;
	text-indent: -3000px;
	overflow: hidden;
	background: url(button/add_thread.png) 0 -2px no-repeat;
	margin: 0 auto;
}

a.add_thread:hover {
	background-position: 0 -34px;
}

div.h1 {
	font-weight: bold;
	font-size: 14px;
	font-family: Arial;
	display: block;
	margin: 0;
	padding: 8px 0 2px 12px;
}

div.search_string {
	float: left;
	height: 30px;
	padding: 0;
	margin: 20px 0 0 12px;
	background: url(search/search.png) 0 0 no-repeat;
}

div.search_string div.in {
	height: 30px;
	background: url(search/search.png) 100% -64px no-repeat;
}

div.search_string div.in div.in {
	min-width: 30px;
	height: 30px;
	margin: 0 4px 0 26px;
	background: url(search/search.png) 0 -32px repeat-x;
}

div.search_string input[type="text"] {
	display: block;
	float: left;
	width: 140px;
	height: 26px;
	border: solid 0px; 
	background: none;
	margin: 2px 0;
	padding: 0;
	vertical-align: middle;
	outline: 0px none;
}

div.search_string input[type="submit"] {
	display: block;
	float: right;
	width: 22px;
	height: 24px;
	border: solid 0px; 
	background: none;
	margin: 3px 0;
	padding: 0;
	vertical-align: middle;
	outline: 0px none;
	text-indent: -3000px;
	overflow: hidden;
	background: url(button/search.png) 0 0 no-repeat;
	cursor: pointer;
	font-size: 0;
}

div.search_string input[type="submit"]:hover {
	background-position: 0 -24px;
}

div.header div.sort {
	color: #a09d8e;
	font-size: 12px;
	float: left;
	width: 288px;
	margin: 21px 0 0 18px;
	background: url(search/separator.png) 100% 100% no-repeat;
}

div.sort span {
	float: left;
	display: block;
	margin: 0 6px 0 0;
	line-height: 26px;
}

div.sort a.sort {
	float: left;
	display: block;
	font-weight: bold;
	color: #13120e;
	width: 110px;
	height: 26px;
	background: url(button/order.png) 0 0 no-repeat;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	line-height: 26px;
	text-decoration: none;
}

div.sort span.sort.left {
	margin: 0;
}

div.sort a.sort.left {
	background-position: 0 0;
}

div.sort a.sort.left:hover,
div.sort a.sort.left.current {
	background-position: 0 -28px;
}

div.sort a.sort.right {
	background-position: -110px 0;
}

div.sort a.sort.right:hover,
div.sort a.sort.right.current {
	background-position: -110px -28px;
}

div.pagination {
	float: left;
	height: 32px;
	padding: 9px 0 0 14px;
}

div.pagination div.step {
	float: left;
	margin-top: 6px;
	min-height: 20px;
}

div.pagination div.next {
	width: 110px;
}

div.pagination div.previous {
	width: 90px;
}

div.pagination div.step a {
	display: block;
	height: 20px;
	color: #007a60;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	font-family: arial;
	line-height: 20px;
}

div.pagination div.next a {
	padding: 0 0 0 24px;
	background: url(button/next.png) 0 -1px no-repeat;
}

div.pagination div.next a:hover {
	background-position: 0 -23px;
	color: #029c7e;
}


div.pagination div.previous a {
	text-align: right;
	padding: 0 24px 0 0 ;
	background: url(button/prev.png) 100% -1px no-repeat;
}

div.pagination div.previous a:hover {
	background-position: 100% -23px;
	color: #029c7e;
}

div.pagination div.pages {
	float: left;
}

div.pagination div.pages a {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	overflow: hidden;
	background: url(button/page.png) 0 -1px no-repeat;
	text-align: center;
	line-height: 32px;
	margin: 0 1px;
	color: #484936;
	text-decoration: none;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
}

div.pagination div.pages a:hover,
div.pagination div.pages a.current {
	color: #007a5b;
	background-position: 0 -35px;
}

/**********************/

div.header div.vote {
	float: left;
	margin: 28px 0 0 16px;
	text-align: center;
	vertical-align: middle;
	color: #a09d8c;
	font-family: arial;
	font-size: 10px;
}

div.header span.vote {
	width: 46px;
	display: block;
	width: 16px;
	height: 16px;
	background: url(button/vote.png) 0px -1px no-repeat;
	overflow: hidden;
}

div.header span.vote:hover {
	background-position: 0px -19px;
}

div.header span.vote a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -3000px;
}

div.header div.topic {
	float: left;
	margin: 12px 0 0 20px;
	padding-left: 16px;
	border-left: 1px solid #dad5c5;
	height: 58px;
}


span.go_back {
	display: block;
	padding-top: 18px;
}

span.go_back a {
	display: block;
	width: 120px;
	height: 28px;
	text-indent: -3000px;
	overflow: hidden;
	background: url(button/go_back.png) 0 0px no-repeat;
	margin: 0 auto;
}

span.go_back a:hover {
	background-position: 0 -30px;
}

/**********************/

div.comments div.header {
	height: 70px;
	background: url(header_large.png) 0% 0% repeat-x;
}

div.comments div.header div.rightBox {
	height: 70px;
	background-image: url(header_large_right.png);
}

div.comments div.header div.rightBox div.in {
	height: 70px;
	background-image: url(header_large_right.png);
	background-position: 100% -142px;
}

div.comments div.header div.rightBox div.in div.in {
	margin: 0 3px;
	height: 70px;
	background-position: 100% -71px;
	background-image: url(header_large_right.png);
}

div.comments span.go_back {
	padding-top: 24px;
}

div.comment {
	background: #f7f7f5;
	width: 100%;
	min-height: 330px;
	padding: 30px 0px 30px 0px;
}

div.comment div.left {
	float: left;
	width: 28%;
	padding: 0 2% 0 8%;
}

div.comment div.right {
	float: left;
	width: 62%;
}

div.comment div.text {
	font-family: arial;
	font-size: 12px;
}

div.comment div.right textarea,
div.listing div.comment div.reply textarea  {

	border: 2px solid #6ebea9;
	border-radius: 6px;
	resize: none;
	width: 99%;
	height: 210px;
	outline: 0px none;
}

div.listing div.comment div.reply textarea  {
	height: 190px;
	margin-bottom: 1px;
}

div.box.green div.h, 
div.box.green div.f {
	margin: 0;
	padding: 0;
	height: 4px;
	background: url(box-green-h.png) 0 0 no-repeat;
}

div.box.green div.f {
	background-image: url(box-green-f.png);
}

div.box.green div.h div,
div.box.green div.f div {
	margin: 0;
	padding: 0;
	height: inherit;
	background: url(box-green-h.png) 100% -8px no-repeat;
}

div.box.green div.f div {
	background-image: url(box-green-f.png);
}

div.box.green div.h div div,
div.box.green div.f div div {
	margin: 0 4px;
	background-position: 0% -4px;
	background-repeat: repeat;
}

div.box.green div.g {
	float: left;
	width: 11px;
	margin: 0 0 0 -35px;
	padding: 0;
	height: inherit;
	min-height: inherit;
	background: url(green-g.png) 0 50% no-repeat;
}

div.box.green div.content {
	color: #f8f7f5;
	background: url(box-green-bg.png) 0 0 repeat-x #005b45;
	padding: 16px 24px;
	margin: 0;
	width: auto;
	min-height: 300px;
}

div.reply div.content {
	color: #f8f7f5;
	padding: 16px 24px;
	margin: 0;
	width: auto;
}

div.box.green div.content p,
div.listing div.comment div.reply p {
	font-weight: bold;
	padding: 0;
	margin: 6px 0;
}

div.box.green div.content input[type="submit"],
div.listing div.comment div.reply input[type="submit"] {
	display: block;
	width: 77px;
	height: 28px;
	text-indent: -3000px;
	overflow: hidden;
	background: url(button/send.png) 0 0 no-repeat;
	border: 0px none;
	padding: 0;
	margin: 0;
	outline: 0 none;
	cursor: pointer;
	float: right;
}

div.box.green div.content input[type="submit"]:hover,
div.listing div.comment div.reply input[type="submit"]:hover {
	background-position: 0 -30px;
}

div.box.green div.content textarea {
	margin-bottom: 22px;
}

div.listing {
}

div.listing div.comment {
	clear: right;
	width: 100%;
	min-width: 50%;
	float: right;
	min-height: 40px;
	height: auto;
	background: #ffffff;
	margin: 0;
	padding: 10px 0px;
}

div.listing div.comment div.h {
	margin: 0;
	padding: 0;
	height: 4px;
	background: url(comment_h.png) 0 0 no-repeat;
}

div.listing div.comment div.h div {
	margin: 0;
	padding: 0;
	height: inherit;
	background: url(comment_h.png) 100% -8px no-repeat;
}

div.listing div.comment div.h div div {
	margin: 0 4px;
	background-position: 0% -4px;
	background-repeat: repeat;
}

div.listing div.comment div.m {
	margin: 0;
	padding: 0;
	background: #d8d5c7;
}

div.listing div.comment div.m div.m {
	margin: 0 1px;
	padding: 0;
	background: #f7f7f5;
}

div.listing div.comment div.m div.m div.m {
	margin: 0;
	padding: 12px 20px;
}

div.listing div.comment div.m p {
	margin: 0;
}

div.listing div.comment div.f {
	margin: 0;
	padding: 0;
	height: 45px;
	background: url(comment_f.png) 0 0 no-repeat;
}

div.listing div.comment div.f div.f {
	margin: 0;
	padding: 0;
	height: inherit;
	background-position: 100% -100px;
}

div.listing div.comment div.f div.f div.f {
	margin: 0 4px;
	background-position: 0% -50px;
	background-repeat: repeat;
}

div.listing div.comment span {
	color: #7d7b6f;
	margin: 16px 8px 0 2px;
	width: auto;
	float: left;
}

div.listing div.comment span.vote {
	width: 16px;
	height: 16px;
	margin-top: 14px;
	margin-right: 2px;
}

div.listing div.comment span.points {
	margin-left: 0;
}

div.listing div.comment div.actions {
	padding: 10px 0 0 0;
	float: right;
	position: relative;
}

div.listing div.comment div.reply {
	width: 100%;
	height: 272px;
	display:block;	
	background: url(box-green-bg.png) 0% 0% repeat-x #005b45;
	position: relative;
}

div.listing div.comment div.reply div.f {
	position: absolute;
	width: 100%;
	bottom: -4px;
	margin: 0;
	padding: 0;
	height: 4px;
	background: url(box-green-f.png) 0 0 no-repeat;
}

div.listing div.comment div.reply div.f div {
	margin: 0;
	padding: 0;
	height: inherit;
	background: url(box-green-f.png) 100% -8px no-repeat;
}

div.listing div.comment div.reply div.f div div {
	margin: 0 4px;
	background-position: 0% -4px;
	background-repeat: repeat;
}

div.actions a {
	display: block;
	float: left;
	margin: 0 0 0 4px;
	padding: 0;
	height: 28px;
	background: url(button/actions.png) no-repeat;
	text-indent: -3000px;
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;

}

div.actions a.edit {
	width: 57px;
}

div.actions a.edit:hover {
	background-position: 0 -30px;
}

div.actions a.delete {
	width: 72px;
	background-position: -60px 0;
}

div.actions a.delete:hover {
	background-position: -60px -30px;
}

div.actions a.reply {
	width: 72px;
	background-position: -136px 0;
}

div.actions a.reply:hover {
	background-position: -136px -30px;
}

div.comment div.right div.login {
	padding: 100px 0 0 0;
	text-align: center;
}

div.comment div.right div.login div.actions {
	padding: 16px 0 0 0;
	width: 200px;
	margin: 0 auto;
	line-height: 30px;
}

div.head div.navigation a.login,
div.head div.navigation a.logout,
div.head div.navigation a.register,
div.comment div.right div.login a.login,
div.comment div.right div.login a.register {
	float: left;
	display: block;
	background: url(button/login.png) -1px -2px no-repeat;
	width: 66px;
	height: 32px;
	text-indent: -3000px;
	overflow: hidden;
}

div.head div.navigation a.login,
div.head div.navigation a.logout,
div.head div.navigation a.register {
	float: right;
}

div.head div.navigation  a.register,
div.comment div.right div.login a.register {
	float: right;
	width: 83px;
	background-position: -96px -2px;
}

div.head div.navigation  a.login:hover,
div.comment div.right div.login a.login:hover {
	background-position: -1px -38px;
}

div.navigation a.register:hover,
div.comment div.right div.login a.register:hover {
	background-position: -96px -38px;
}

div.head div.navigation  a.logout {
	width: 78px;
	background-position: -181px -1px;
}

div.head div.navigation  a.logout:hover {
	background-position: -181px -37px;
}

div#dialog_overall {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

div#dialog {
	display: none;
	background: white url(popup-bottom.png) 0% 100% repeat-x;
	width: 620px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -310px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

div#dialog .header {
	border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	-webkit-top-left-border-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	height: 49px;
	color: #f2f1ee;
}

div#dialog .header p {
	color: #131313;
	font-size: 16px;
	font-weight: bold;
	line-height: 52px;
	padding: 0 0 0 32px;
	margin: 0;
}

div#dialog .header p.login {
	width: 287px;
	float: left;
	height: 49px;
	overflow: hidden;
	border-right: 1px solid #e0e0da;
	padding: 0 0 0 22px;
}

div#dialog .header p.register {
	float: left;
	padding: 0 0 0 22px;
	height: 49px;
	overflow: hidden;
}

div#dialog div.login,
div#dialog div.register {
	height: 225px;
	float: left;
	width: 287px;
	padding: 56px 0 0 22px;
}
/*
div#dialog div.notice {
	position: absolute;
	padding: 4px 0 0 22px;
	color: red;
}*/

div#dialog div.login div,
div#dialog div.register div {
	padding: 6px 0;
}

div#dialog div.login {
	border-right: 1px solid #eeece4;
}

div#dialog div.login label,
div#dialog div.register label {
	width: 60px;
	display: block;
	float: left;
	padding: 0 6px 0 0;
	line-height: 26px;
	color: #a09f8f;
}

div#dialog div.login input[type="text"],
div#dialog div.register input[type="text"],
div#dialog div.login input[type="password"],
div#dialog div.register input[type="password"] {
	width: 184px;
	color: #007a5d;
}

.search_string form {
	width: 162px;
}

div#dialog div.login input[type="submit"],
div#dialog div.register input[type="submit"] {
	position: relative;
	left: auto;
	bottom: auto;
	background: url(button/login_reg.png) 0 0 no-repeat;
	height: 35px;
	margin: 14px auto 0 auto;
	color: transparent;
	font-size: 0;
}

div#dialog div.login input[type="submit"] {
	width: 79px;
	outline: none;
	border: none;
	text-indent: -3000px;
	color: transparent;
	font-size: 0;
}

div#dialog div.login input[type="submit"]:hover {
	background-position: 0px -36px;;
}

div#dialog div.register input[type="submit"] {
	width: 160px;
	background-position: -81px 0;
}

div#dialog div.register input[type="submit"]:hover {
	background-position: -81px -36px;;
}


div#dialog .dialog_close {
	cursor: pointer;
}

div#dialog input[type="password"],
div#dialog input[type="text"],
div#dialog input[type="url"],
div#dialog textarea {
	background: #f5f5f1;
	border: 1px solid #c0beb8;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 2px 6px;
	outline: none 0;
	resize: none;
	width: auto;
}

div#dialog input[type="text"],
div#dialog input[type="url"],
div#dialog textarea {
	width: 480px;
}

div#dialog textarea {
	height: 100px;
}

div#dialog input[type="submit"],
div#dialog a.dialog_close {
	position: absolute;
	bottom: 16px;
}

div#dialog input[type="submit"] {
	left: 166px;
}

div#dialog input[type="submit"] {
	left: 166px;
	background: url(popup_create.png) no-repeat 0 0;
	display: block;
	cursor: pointer;
	width: 119px;
	height: 38px;
	overflow: hidden;
	text-indent: -3000px;
	border: none;
	outline: none 0px;
	font-size: 0;
}

div#dialog input[type="submit"]:hover {
	background-position: 0 -38px;
}

div#dialog a.dialog_close {
	left: 334px;
	background: url(popup-cancel.png) no-repeat 0 0;
	display: block;
	cursor: pointer;
	width: 119px;
	height: 38px;
	overflow: hidden;
	text-indent: -3000px;
}

div#dialog a.dialog_close:hover {
	background-position: 0 -38px;
}

div#dialog table {
	margin: 38px 0 0 0;
}

div#dialog table th {
	width: 80px;
	text-align: right;
	vertical-align: top;
	line-height: 32px;
}

div#dialog_content {
	width: 100%;
	height: 100%;
	position: relative;
}

div#dialog_content.login_content a.dialog_close {
	left: 246px;
}

div.notice {
	position: absolute;
	width: 586px;
	z-index: 999;
	background: none;
	background-color: #fad4d3;
	border: solid 1px #e79796;
	border-radius: 4px;
	height: 26px;
	padding: 0 6px;
	text-align: center;
	margin: 10px 16px -38px 10px;
/*	width: auto;*/
	color: red;
	line-height: 26px;
}

div.listing div.comment div.delete input[type="submit"]{
	line-height: 26px;
	text-indent: 0px;
	background: none;
	font-size: 14px;
	font-weight: bold;
	color: blue;
}

div.delete-box {
	width: 146px;
	height: 70px;
	position: absolute;
	background: url(delete.png) no-repeat 0% 0%;
	left: 50%;
	margin-left: -76px;
	bottom: 25px;
}

div.delete-box a {
	width: 52px;
	height: 26px;
	overflow: hidden;
	text-indent: -3000px;
	display: block;
	cursor: pointer;
	font-size: 0;
	background: url(button/yn.png) no-repeat 0 0;
}

div.delete-box a.yes {
	margin: 29px 0 0 18px;
	float: left;
}

div.delete-box a.yes:hover {
	background-position: 0 -28px;
}

div.delete-box a.no {
	margin: 29px 18px 0 0;
	float: right;
	background-position: -55px 0;
}

div.delete-box a.no:hover {
	background-position: -55px -28px;
}

