<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="pl">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>Gold Chart & News</title>    
	<%= stylesheet_link_tag "style.css" %>
	<%= csrf_meta_tags %>
</head>
<body>
<!--	<%= link_to image_tag( 'Reply.png' ) %>-->     
	<table style="min-width: 1000px, height: 95%" align="center" class="tabela_cala_strona">
		<tr>									
			<td>
				<%= yield %>
									<br>
									<div align=center><font color="black" size="4" face="myFont">sh</font><font color="red" size="4" face="myFont">1</font><font color="black" size="4" face="myFont">ny </font><font color="grey" size="4" face="myFont">with precious metals enthiustasts in mind</font></div>
		</tr>
	</table>     

</body>
</html>
